@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
 
* {
   margin: 0px;
}
:root {
   --first-color : #8a089976;
   --second-color :#FF42A5 ;
}

body {
   font-family: 'Work Sans', sans-serif;
}
.text-color {
   color: #8a089976 ;
}
.btn-primary-1 {
   border: 0;
   border-radius: 30px;
   padding: 21px 30px;
   color: #FFF;
   font-size: 16px;
   font-weight: 400;
   background-color: var(--second-color);
 }
 .btn-primary-2 {
   border: 0;
   border-radius: 35px;
   padding: 21px 30px;
   color: #FFF;
   font-size: 16px;
   font-weight: 400;
   background-color: #4EC5F7;
 }
/* Header section */
header {
   padding: 1.25rem 7.5rem 1.25rem 7.5rem ;
}
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-title-container {
   display: flex;
   gap: 1.5rem;
}
.nav-title {
   text-align: center;
   font-size: 45px;
   font-weight: 700;
   color: #0B0223
   
}

.nav-title-color {
   color: var(--second-color);
}

nav >ul {
   display: flex;
   align-items: center;
  
}
nav li {
   list-style: none;
   margin-right: 50px;
}
nav a {
   text-decoration: none;
   color: #3C354F;
   text-align: center;
   font-size: 18px;
   font-weight: 500;
} 
.nav-box {
   display: flex;
   border: 0;
   gap: 10px;
   border-radius: 5px;
   padding: 10px;
   background: rgba(11, 2, 35, 0.10);
}

/*main banner section*/
.banner-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-image: url(images/Group\ 14.png);
   background-repeat: no-repeat;
   background-size: cover;
}
.banner-container {
  padding-left: 120px;
  align-items: center;
}
.banner-title {
   color: #0B0223;
   font-size: 36px;
   font-weight: 600;   
}
.banner-goal {
   font-size: 75px;
   font-weight: 800;
   color: var(--first-color) ;
}
.banner-content {
   display: flex;
   align-items: center;
   margin: 15px 0;
   gap: 5px;
}
.banner-img {
   height: 32rem;
   padding-right: 120px;
}

/*main about section*/
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(255, 66, 165, 0.03);
}

.about-img {
    padding-left: 100px;
    width: 650px;
    height: 500px;
}
.about-container {
  text-align: right;
  padding-right: 120px;
}
.about-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--first-color);
}
.about-content {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0px;
}
.about-goal {
    color: #534C64;
    font-size: 24px;
    font-weight: 700;
}

/*main vedio section*/

.video-section {
padding : 40px 120px 0 120px;
}

.video-section-title {
    color: #0B0223;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.video-title-color {
color: var(--first-color);
}

.video-section-detail {
    margin: 10px 0px ;
    color: #534C64;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.image-card {
    width:250px;
    height: 300px;

}
.video-img-container {
   margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    cursor: pointer;
}

.image-title {
   color: #534C64;
   font-size: 12px;
   font-weight: 500;
   margin-top: 15px;
}

/* main instant play section*/
.instant-play {
   margin-bottom: 0px;
    padding:40px 120px 0 300px ;
    display: flex;
    justify-content: space-between;
}
.instant-play-container {
    position: relative;
    top: 120px;
    right: 100px;
    
}
.instant-play-title {
   text-align: right;
   font-size: 40px;
   font-weight: 700;
}
.instant-play-detail {
   color: #534C64;
   text-align: right;
   font-size: 16px;
   font-weight: 400;
}

.play-image-1 {
   height: 400px;
   width: 400px;
}
.play-image-2 {
   height: 200px;
   width: 150px;
   position: relative;
   top: -150px;
   right: 40px;
}

/* main online play section*/
.online-play {
   margin-top: 0px;
   padding:0px 300px 0 120px ;
   display: flex;
   justify-content: space-between;
   
}

.online-image-1 {
   height: 400px;
   width: 400px;
}
.online-image-2 {
   height: 200px;
   width: 150px;
   position: relative;
   top: -120px;
   left: 320px;
}
.play-online-container {
   position: relative;
   top: 120px;
   left: 150px;
   
}
.online-play-title {
   font-size: 40px;
   font-weight: 700;
}
.online-play-detail {
   color: #534C64;
   font-size: 16px;
   font-weight: 400;
}
/* career section*/
 .career-section {
   padding: 20px 120px  ;
   display: flex;
   background-color: var(--second-color);
   justify-content: space-around;
   align-items: center;
 }
 .career-container {
   width: 100%;
   max-width: 700px;
 }
 .career-title {
   padding-top: 0px;
   color: #FFF;
   font-size: 40px;
   font-weight: 700;
 }

 .career-description{
   margin-top: 10px;
   width: 700px;
   color: #FFF;
   font-size: 14px;
   font-weight: 400;
   text-align: justify;
 }
 .career-inner-container {
   margin-top: 10px;
   display: flex;
   justify-content: space-between;
   width: 700px;
 }
 .inner-left {
   color: #FFF;
   font-size: 14px;
   font-weight: 600;
   text-align: left;
 }
 .inner-right {
   color: #FFF;
   font-size: 14px;
   font-weight: 600;
   text-align: right;
 }

 .career-img {
   width: 450px;
   height: 400px;
 }
 .career-btn {
   margin-top: 20px;
   color :var(--second-color);
   border: 0;
   border-radius: 50px;
   padding: 15px;
   background: #FFF;
   font-size: 14px;
   font-weight: 400;
 }

 /*game section*/
.game-container {
   margin-top: 20px;
   padding: 0 240px;
   display: grid;
   grid-template-columns: repeat(5, 2fr);
   row-gap: 20px;
   column-gap: 25px;
   
}
.game {

   display: flex;
   align-items: center;
   gap: 10px;
   
}
.game:hover {
      border: 1px solid var(--second-color) ;  
      border-radius: 50px;
      background-color:#FFF;
      cursor: pointer;
}
.game>.game-name:hover {
   color: var(--second-color);
}

.game-name {
   color: #0B0223;
   font-size: 12px;
   font-weight: 600;
}

.footer {
   margin-top: 20px;
   background: #0B0223;
   align-items: center;
   padding: 40px 240px;
}
.footer-title {
   padding-left: 300px;
   display: flex;
   color: #fff;
   font-size: 32px;
   font-weight: 700;
}

.footer-container {
   display: grid;
   grid-template-columns: repeat(6,1fr);
}
.footer-term-container {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   padding: 30px 100px 30px 100px ;
}
.footer-icon-container {

   padding: 30px 120px 30px 140px ;
   display: grid;
   grid-template-columns: repeat(6,1fr);
}

.footer-detail {
   margin-top: 20px;
   color: #FFF;
   text-align: center;
   font-size: 14px;
   font-weight: 600;
}
.footer-icon {
 cursor: pointer;
  width: 35px;
  height: 30px ; 
}
.footer-term {
   color: rgba(255, 255, 255, 0.60);
   text-align: center;
   font-size: 12px;
   font-weight: 500;
}
.footer-policy {
   color: rgba(255, 255, 255, 0.60);
   text-align: center;
   font-size: 12px;
   font-weight: 500; 
}

@media screen and (max-width: 576px) {
   nav {
       flex-direction: column;
       margin-top: 0.8rem;
    }

   nav>ul {
       flex-direction: column;
       margin-top: 0.8rem;
   } 
   nav li {
       margin-top: 0.8rem;
   } 
   .banner-section {
    margin: 0;
    padding: 0 50px;
    flex-direction: column-reverse;
    row-gap: 60px;
   }
   .banner-img {
    width: 100%;
    height: 60%;
    padding-right: 0px;

   }
   .banner-container {
    padding-left: 0px;
   }

   .about-section {
    margin: 0;
    padding : 0 50px;
    flex-direction : column;
    row-gap : 60px;
   }
   .about-img {
        width: 100%;
        height: 70%;
        padding-left: 0px;    
   }
   .about-container {
    padding-right: 0px;
    padding: 0px 20px;
    text-align: center;
   }
   .video-section {
      margin-top: 40px;
      padding: 0 50px;
      align-items: center;
   }
   .image-card {
      width: 80%;
      height: 90%;
      
   }
   .video-img-container {
      display: grid;
      grid-template-columns: repeat(1,4fr);
      row-gap: 20px;
      padding-left: 70px;
   }
   .video-section-title {
      font-size: 30px;
   }
   .video-section-detail {
      font-size: 15px;
   }
   .image-title {
      font-size: 12px;
      padding:  0px 70px 0px 20px;
   }
   .instant-play {
      flex-direction: column;
      padding:20px 50px 0 50px ;
      row-gap: 30px;
      align-items: center;
   }
   .instant-play-container {
      top: 0;
      right: 0px;

   }
   .instant-play-title ,.online-play-title{
      text-align: center;
      font-size: 32px;
   }
   .instant-play-detail  {
      margin-top: 20px;
      text-align: center;
      font-size: 12px;
      padding: 0 40px;
      
   }
   .instant-image-container  {
      padding: 0 50px 0 80px;
   }
   .online-play{
      flex-direction: column-reverse;
      padding:0px 100px 0 100px ;
      row-gap: 0px;
      align-items: center;
   }
   .online-play-detail  {
      margin-top: 20px;
      text-align: center;
      font-size: 12px;
      
   }
   .play-online-container {
      top: -100px;
      left: 0px;
   }
  .play-image-container { 
    padding: 0 120px 0 70px ;
    top: 0px ;
  }

.career-section {
   padding: 20px;
   display: flex;
   flex-direction: column;
}
.career-container{
   white-space: 100%;
   max-width: 450px;
   align-items: center;
}
.career-description{
   width: 450px;
}
.career-inner-container{
  width : 450px;
}

  .game-container {
   padding: 0px 50px;
   display: grid;
   grid-template-columns: repeat(3,3fr);
  }
 .footer {
   padding: 20px 0px;
   align-items: center;
 }
  .footer-title {
  padding-left: 200px;
  }
  .footer-container {
   grid-template-columns: repeat(3,2fr);
   padding: 0 30px;
  }
  .footer-icon-container {
   grid-template-columns: repeat(3,2fr);
   row-gap: 15px;
   padding-left: 180px;
  }
  .footer-term-container
  {
   grid-template-columns: repeat(2,2fr);
   row-gap: 15px;
  }
}

@media screen and (min-width:576px) and (max-width: 1160px) {
   nav {
       flex-direction: column;
       margin-top: 0.8rem;
    }

   nav>ul {
       flex-direction: column;
       margin-top: 0.8rem;
   } 
   nav li {
       margin-top: 0.8rem;
   } 
   .banner-section {
    margin: 0;
    padding: 0 50px;
    flex-direction: column-reverse;
    row-gap: 60px;
   }
   .banner-img {
    width: 100%;
    height: 60%;
    padding-right: 0px;

   }
   .banner-container {
    padding-left: 0px;
   }

   .about-section {
    margin: 0;
    padding : 0 50px;
    flex-direction : column;
    row-gap : 60px;
   }
   .about-img {
        width: 100%;
        height: 70%;
        padding-left: 0px;    
   }
   .about-container {
    padding-right: 0px;
    padding: 0px 20px;
    text-align: center;
   }
   .video-section {
      margin-top: 40px;
      padding: 0 50px;
      align-items: center;
   }
   .image-card {
      width: 80%;
      height: 90%;
      
   }
   .video-img-container {
      display: grid;
      grid-template-columns: repeat(1,4fr);
      row-gap: 20px;
      padding-left: 70px;
   }
   .video-section-title {
      font-size: 30px;
   }
   .video-section-detail {
      font-size: 15px;
   }
   .image-title {
      font-size: 12px;
      padding:  0px 70px 0px 20px;
   }
   .instant-play {
      flex-direction: column;
      padding:20px 50px 0 50px ;
      row-gap: 30px;
      align-items: center;
   }
   .instant-play-container {
      top: 0;
      right: 0px;

   }
   .instant-play-title ,.online-play-title{
      text-align: center;
      font-size: 32px;
   }
   .instant-play-detail  {
      margin-top: 20px;
      text-align: center;
      font-size: 12px;
      padding: 0 40px;
      
   }
   .instant-image-container  {
      padding: 0 50px 0 80px;
   }
   .online-play{
      flex-direction: column-reverse;
      padding:0px 100px 0 100px ;
      row-gap: 0px;
      align-items: center;
   }
   .online-play-detail  {
      margin-top: 20px;
      text-align: center;
      font-size: 12px;
      
   }
   .play-online-container {
      top: -100px;
      left: 0px;
   }
  .play-image-container { 
    padding: 0 120px 0 70px ;
    top: 0px ;
  }

.career-section {
   padding: 20px;
   display: flex;
   flex-direction: column;
}
.career-container{
   white-space: 100%;
   max-width: 450px;
   align-items: center;
}
.career-description{
   width: 450px;
}
.career-inner-container{
  width : 450px;
}

  .game-container {
   padding: 0px 50px;
   display: grid;
   grid-template-columns: repeat(3,3fr);
  }
 .footer {
   padding: 20px 0px;
   align-items: center;
 }
  .footer-title {
  padding-left: 200px;
  }
  .footer-container {
   grid-template-columns: repeat(3,2fr);
   padding: 0 30px;
  }
  .footer-icon-container {
   grid-template-columns: repeat(3,2fr);
   row-gap: 15px;
   padding-left: 180px;
  }
  .footer-term-container
  {
   grid-template-columns: repeat(2,2fr);
   row-gap: 15px;
  }
}
   